bin/ChangeLog
bin/IMDisplay.exe
bin/ImageMagick.rdf
bin/LICENSE.txt
bin/NOTICE.txt
bin/README.txt
bin/colors.xml
bin/compare.exe
bin/composite.exe
bin/configure.xml
bin/conjure.exe
bin/convert.exe
bin/dcraw.exe
bin/delegates.xml
bin/english.xml
bin/ffmpeg.exe
bin/hp2xx.exe
bin/identify.exe
bin/index.html
bin/locale.xml
bin/log.xml
bin/magic.xml
bin/magick.exe
bin/mime.xml
bin/mogrify.exe
bin/montage.exe
bin/policy.xml
bin/quantization-table.xml
bin/sRGB.icc
bin/stream.exe
bin/thresholds.xml
bin/type-ghostscript.xml
bin/type.xml
